.color-card {
    margin: 0px 10px;
    padding: 5px;
}

.color-card-headline {
    display: inline;
    padding: 2px 6px;
    background: black;
    color: white;
}

.score {
    display: inline-block;
    width: 24px;
    aspect-ratio: 1;
    border: solid 2px black;
    border-radius: 999px;
    background-color: grey;
}

.score--best {
    background-color: springgreen;
}
.score--good {
    background-color: greenyellow;
}
.score--warning {
    background-color: orange;
}
.score--fail {
    background-color: crimson;
}
